/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
vendor/assets/stylesheets/styla/styleguide/view
vendor/assets/stylesheets/styla/icons

*:Zone.Identifier

style.css
style.css.map

